#statistics {
    justify-content: space-around;
}

.circle {
    border: 1px solid #ced3db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 3.3;
}

.views, .answers, .votes {
    position: relative;
    margin-right: 25px;
}

.article-top, .article-bottom {
    width: 100%;
    justify-content: space-between;
}

.filled {
    background-color: #38d996;
    border-color: #38d996;
    color: white;
}