<div class="article-top flex item-center">
    <div class="information">
        <h3 class="truncate">{{ post.title }}</h3>
        <p class="truncate">{{ post.content }}</p>
    </div>
    <div id="statistics" class="flex text-center">
        <div class="views">
            <span class="circle">{{ post.views }}</span>
            <p>views</p>
        </div>
        <div class="answers">
            <span class="circle filled">{{ post.answers }}</span>
            <p>answers</p>
        </div>
        <div class="votes">
            <span class="circle">{{ post.votes }}</span>
            <p>votes</p>
        </div>
    </div>
</div>
<div class="article-bottom flex item-center">
    <div class="tags flex">
        <div>
            <button class="tag">apps</button>
        </div>
        <div>
            <button class="tag">business</button>
        </div>
        <div>
            <button class="tag">glass</button>
        </div>
        <div>
            <button class="tag">google</button>
        </div>
        <div>
            <button class="tag">tutorial</button>
        </div>
    </div>
    <div class="user"></div>
    <div class="update">
        <a (click)="redirectToUpdateForm()">UPDATE</a>
    </div>
</div>