.logo {
    grid-area: logo;
}

.search{
    align-items: search;
    margin: auto;
}

.search form input{
    font-size: 16px;
}

.navbar {
    background-color: #19202e;
    list-style: none;
    grid-area: navbar;
}

.login {
    grid-area: login;
}