<div class="form">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
        <label>
            Author:
            <input type="text" formControlName="author" required>
        </label>
        <label>
            Title:
            <input type="text" formControlName="title" required>
        </label>
        <label>
            Content:
            <textarea cols="30" rows="10" formControlName="content" required></textarea>
        </label>
        <div formArrayName="tags">
            <label>Tags:
                <button id="add-tag" type="button" (click)="createTag()">Add tag</button>
            </label>
            <div *ngFor="let tag of tags.controls; let i=index">
              <label>
                Tag: 
              </label>
              <input type="text" [formControlName]="i">
              <img  id="tag" src="../../../assets/delete.png" (click)="deleteTag(i)" alt="Delete">
            </div>
          </div>
        <button type="submit" [disabled]="!createPostForm.valid">Submit</button>
    </form>
</div>