<aside class="right-sidebar">
    <section class="statistics">
        <div class="questions-count">
            <p>Questions</p>
            <p><span class="large-font">18</span></p>
        </div>
        <div class="members-count">
            <p>Members</p>
            <p><span class="large-font">12</span></p>
        </div>
    </section>
    <section class="most-used-tags">
        <h4>MOST USED TAGS</h4>
        <ul class="unstyled">
            <li><button class="tag">apps</button>x5</li>
            <li><button class="tag">business</button>x5</li>
            <li><button class="tag">glass</button>x5</li>
            <li><button class="tag">google</button>x5</li>
            <li><button class="tag">tutorial</button>x5</li>
        </ul>
    </section>
    <section class="hot-questions"></section>
</aside>