<main class="main">
    <section class="all-questions">
        <h2></h2>
        <select id="filter-by-category"></select>
    </section>
    <section class="filter">
        <div></div>
        <select id="chosen-per-page"></select>
    </section>
    <section class="questions">
        <article class="question">
            <div class="article-top">
                <div class="information">
                    <h3 class="truncate">
                        Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut?
                    </h3>
                    <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum at tempor commodo ullamcorper a.</p>
                </div>
                <div id="statistics">
                    <div class="views">
                        <span class="circle">8</span>
                        views
                    </div>
                    <div class="answers">
                        <span class="circle filled">6</span>
                        answers
                    </div>
                    <div class="votes">
                        <span class="circle">19</span>
                        votes
                    </div>
                </div>
            </div>
            <div class="article-bottom">
                <div class="tags">
                    <div>
                        <button class="tag">apps</button>
                    </div>
                    <div>
                        <button class="tag">business</button>
                    </div>
                    <div>
                        <button class="tag">glass</button>
                    </div>
                    <div>
                        <button class="tag">google</button>
                    </div>
                    <div>
                        <button class="tag">tutorial</button>
                    </div>
                </div>
                <div class="user"></div>
            </div>
        </article>
        <article class="question">
            <div class="article-top">
                <div class="information">
                    <h3 class="truncate">
                        Lacus vestibulum sed arcu non odio euismod lacinia at quis risus sed vulputate odio ut?
                    </h3>
                    <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum at tempor commodo ullamcorper a.</p>
                </div>
                <div id="statistics">
                    <div class="views">
                        <span class="circle">8</span>
                        views
                    </div>
                    <div class="answers">
                        <span class="circle filled">6</span>
                        answers
                    </div>
                    <div class="votes">
                        <span class="circle">19</span>
                        votes
                    </div>
                </div>
            </div>
            <div class="article-bottom">
                <div class="tags">
                    <div>
                        <button class="tag">apps</button>
                    </div>
                    <div>
                        <button class="tag">business</button>
                    </div>
                    <div>
                        <button class="tag">glass</button>
                    </div>
                    <div>
                        <button class="tag">google</button>
                    </div>
                    <div>
                        <button class="tag">tutorial</button>
                    </div>
                </div>
                <div class="user"></div>
            </div>
        </article>
    </section>
</main>