.all-posts {
    width: 100%;
    min-height: 40px;
    border-bottom: 1pt solid #ced3db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-by-category {
    width: 15%;
    margin-right: 30px;
}

.filter {
    width: 100%;
    min-height: 40px;
    border-bottom: 1pt solid#ced3db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chosen-per-page {
    width: 7%;
    margin-right: 30px;
}

#posts {
    width: 100%;
}