@import "../../components/posts/posts.css";

body {
    margin: 0;
    height: 100%;
    color: #6f7d95;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.logo {
    grid-area: logo;
}

.navbar {
    background-color: #19202e;
    list-style: none;
    grid-area: navbar;
}

.login {
    grid-area: login;
}

.left-side-bar { 
    grid-area: menu;
}

.social-fb, .social-twitter, .social-google {
    background-image: url('../media/socialmediasprite.png');
    background-repeat: no-repeat;
}

.social-fb {
    background-position: -41px -78px; 
    width: 32px;
    height: 32px;
}

.social-fb:hover {
    background-position: -41px -120px;
}

.social-twitter {
    background-position: -83px -78px; 
    width: 32px;
    height: 32px;
}

.social-twitter:hover {
    background-position: -83px -120px;
}

.social-google {
    background-position: -167px -78px; 
    width: 32px;
    height: 32px;
}

.social-google:hover {
    background-position: -167px -120px;
}

.social-networks {
    align-content: center;
    justify-content: space-evenly;
    display: flex;
    border-bottom: 1px solid #dadfea;
    padding: 15px 0;
}

.main { 
    grid-area: main; 
    border-left: 1pt solid #ced3db;
}

.all-questions {
    width: 100%;
    min-height: 40px;
    border-bottom: 1pt solid #ced3db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter-by-category {
    width: 15%;
    margin-right: 30px;
}

.filter {
    width: 100%;
    min-height: 40px;
    border-bottom: 1pt solid#ced3db;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chosen-per-page {
    width: 7%;
    margin-right: 30px;
}

.right-side-bar { 
    grid-area: right; 
    height: 100%;
    background-color: #e1e7f0;
    padding-left: 30px;
}

.footer {
    grid-area: footer;
}

.unstyled {
    list-style-type: none;
    padding: 0;
}

#left-menu-questions::before{
    content: url(question.png);
}

#left-menu-tags::before{
    content: url(tag.png);
}

#left-menu-badges::before{
    content: url(award.png);
}

#left-menu-categories::before{
    content: url(list.png);
}

#left-menu-users::before{
    content: url(users.png);
}

.information{
    max-width:700px;
}

.large-font {
    color: #2c3e50;
    font-weight: 700;
    font-size: 50px;
}

.members-count {
    border-left: 4px solid #f39c12;
    line-height: .7;
    padding-left: 10px;
}

.questions-count {
    border-left: 4px solid #3498db;
    margin-bottom: 30px;
    line-height: .7;
    padding-left: 10px;
}

.most-used-tags h4 {
    color: #2c3e50;
    border-bottom: 1px solid #dadfea;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.most-used-tags {
    margin-top: 45px;
}

a {
    text-decoration: none;
}

.m-l-10 {
    margin-left: 10px;
}

.left-side-menu ul li {
    margin: 10px 0 10px 0;
}

.left-side-menu ul {
    margin-left: 30px;
}

#ask-question-button {
    margin: 30px;
}

.ask-question {
    background-color: #008CBA;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    display: block;
    color: white;
}

.left-side-menu {
    border-top: 1px solid #dadfea;
    border-bottom: 1px solid #dadfea;
}

.most-used-tags ul li {
    margin-bottom: 10px;
}

.search{
    align-items: search;
    margin: auto;
}

.search form input{
    font-size: 16px;
}

header { 
    background-color: #2f364a;
    min-height: 80px;
    max-width: 100%;
    grid-area: header;
    display: grid;
    position: sticky;
    top: 0;
    z-index:100;
}

.grid-container {
    display: grid;
}

@media only screen and (max-width: 768px){
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'header header header header'
        'main main main main'
        'main main main main';
    }

    header { 
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo navbar navbar login";
    }

    .left-side-bar, .right-side-bar {
        display: none;
    }

    .search {
        display: none;
    }
}

@media only screen and (min-width: 768px){
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        'header header header header'
        'main main main main'
        'main main main main';
    }

    header { 
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "logo search navbar login";
    }

    .left-side-bar, .right-side-bar {
        display: none;
    }
    
    .search {
        display: inline-block;
    }
}

@media only screen and (min-width: 992px){
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
        'header header header header header header'
        'menu main main main main right'
        'footer main main main main right';
    }

    header { 
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "logo search . . navbar login";
    }

    .left-side-bar, .right-side-bar {
        display: block;
    }

        
    .search {
        display: inline-block;
    }
}