<div id="ask-question-button">
    <a class="ask-question flex item-center text-center" (click)="redirectToCreateForm()">ASK A QUESTION</a>
</div>
<div class="left-side-menu top-border">
    <ul class="unstyled">
        <li id="left-menu-questions"><a class="m-l-10" href="">New questions</a></li>
        <li id="left-menu-tags"><a class="m-l-10" href="">Tags</a></li>
        <li id="left-menu-badges"><a class="m-l-10" href="">Badges</a></li>
        <li id="left-menu-categories"><a class="m-l-10" href="">Categories</a></li>
        <li id="left-menu-users"><a class="m-l-10" href="">Users</a></li>
    </ul>  
</div>
<div class="social-networks flex top-border item-center">
    <div class="social-fb"></div>
    <div class="social-twitter"></div>
    <div class="social-google"></div>
</div>